@import './base.css';

#app {
  width: 100%;
  background-image: url('/assets/background.jpg');
}

.listOfEntries {
  width: 50%;
  margin: auto;
}

.listOfEntries > h1 {
  text-align: center;
  font-size: 3em;
}

.listOfEntries > ul {
  list-style-type: none;
  line-height: 2em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
