@import './base.css';

#app {
  width: 100%;
  background-image: url('/assets/background.jpg');
}

nav {
  background-color: yellow;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav * {
  color: black;
  font-size: 1.3em;
  margin: 4%;
}

.listOfEntries {
  width: 50%;
  margin: auto;
}

.listOfEntries > ul {
  list-style-type: none;
  line-height: 2em;
}

.footer {
  width: 50%;
  margin: auto;
}

.footer > * {
  display: inline-block;
}

h1 {
  font-size: 3em;
  padding-top: 2em;       /* Abstand zu Nav */
  color: yellow;
  text-align: center;
}
